.main {
  padding: 50px 0;
  background-color: #f7f7f7;
  /* background-color: red; */
}

.main .post {
  display: flex;
  /* justify-content: space-between; */
  /* background-color: red; */
}

@media only screen and (max-width: 1022px) {
  .main .post {
    display: block;
  }
}
