.right .title {
  font-size: 26px;
  color: #728197;
  text-align: center;
  margin-bottom: 40px;
}

.right {
  width: 50%;
  margin-left: 70px;
  /* background-color: green; */
  /* display: flex;
  justify-content: center; */
}

@media only screen and (max-width: 1022px) {
  .right {
    display: none;
  }
}
