.jumbotron {
  background-color: #1a1e21;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.jumbotron .jumbotron-title {
  font-size: 5rem;
}

.jumbotron .jumbotron-desc {
  font-size: 1.5rem;
}

@media only screen and (max-width: 798px) {
  .jumbotron .jumbotron-title {
    font-size: 4rem;
  }

  .jumbotron .jumbotron-desc {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 478px) {
  .jumbotron {
    padding: 0 10px;
  }
  .jumbotron .jumbotron-title {
    font-size: 3rem;
  }

  .jumbotron .jumbotron-desc {
    font-size: 1rem;
  }
}
