footer {
  margin-top: 40px;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -4px 2px -2px #f1f1f1;
}

footer .container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright {
  font-size: 1.2rem;
}

footer .sosmed a {
  font-size: 1.5rem;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 798px) {
  footer .copyright {
    font-size: 1.1rem;
  }

  footer .sosmed a {
    font-size: 1.4rem;
    margin-left: 12px;
  }
}

@media only screen and (max-width: 478px) {
  footer .copyright {
    font-size: 0.9rem;
  }

  footer .container {
    padding: 0 10px;
  }
  footer .sosmed a {
    font-size: 1.1rem;
    margin-left: 12px;
  }
}

@media only screen and (max-width: 319px) {
  footer .copyright {
    font-size: 0.8rem;
  }

  footer .container {
    padding: 0 10px;
  }
  footer .sosmed a {
    font-size: 1rem;
    margin-left: 5px;
  }
}
